<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<h1>Hello webpack!!!</h1>
<img src="../images/test.jpg" alt="">
<div class="test"></div>
<div>
    <span class="sprite sprite-youtube" role="presentation" aria-label="YouTube raster icon"></span>
    <span class="sprite sprite-australia" role="presentation" aria-label="Australia raster icon"></span>
</div>

<div>
    <span class="svg-icon" aria-label="Twitter icon">
        <svg><use xlink:href="sprite.svg#twitter"></use></svg>
    </span>
    <span>Twitter</span>
    <span class="svg-icon" aria-label="Reddit icon">
        <svg><use xlink:href="sprite.svg#reddit"></use></svg>
    </span>
    <span>Reddit</span>
    <span class="svg-icon" aria-label="YouTube icon">
        <svg><use xlink:href="sprite.svg#youtube"></use></svg>
    </span>
    <span>YouTube</span>
</div>

</body>
</html>
