$sprite: '../images/images-sprite/';
$sprite-list: ('youtube', 'australia');
$sprite-retina: false;


@mixin SpriteImage ($image, $path: $sprite, $extension: '.png') {
    height: height($path + $image + $extension);
    width: width($path + $image + $extension);

    @if $sprite-retina { background: url($path + $image + $extension) at-2x; }
    @else { background: url($path + $image + $extension); }

}

.sprite {
    display: inline-block;
    margin: 0 0.25em;

    @each $image in $sprite-list {
        &-#{$image} { @include SpriteImage($image); }
    }
}