@import 'base';
@import 'sprite';

.svg-icon {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    user-select: none;
    speak: none;


    > svg {
        fill: currentColor;
        height: 1em;
    }
}
